{% extends "snh/snh_base.html" %}
{% block extrahead %}
<script type="text/javascript" src="/static/flowplayer-3.2.9.min.js"></script>
<script type="text/javascript" charset="utf-8">
</script>
{% endblock %}
{% block submenu %}
<table class="tableheader">
    <tr>
        <td {% if harvester_id == "0" %}class="submenu-selection"{% endif %}><a href="/fb/0">All harvesters</a></td>
        {% for h in all_harvesters %}
        <td  {% ifequal harvester_id h.pmk_id|slugify %}class="submenu-selection"{% endifequal %}><a href="/fb/{{ h.pmk_id }}">{{ h }}</a></td>
        {% endfor %}
    </tr>
</table>
{% endblock %}

{% block content %}
<h3>{{ user.name }} </h3>
<table id="user_table" class="pretty">
    <thead>
    <tr>
        <th>ID</th>
        <th>username</th>
        <th>screenname</th>
        <th>gender</th>
        <th>description</th>
        <th>language</th>
        <th>status</th>
        <th>type</th>
        <th>url</th>
        <th>views total</th>
        <th>videos total</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td><a href="/dm_user_detail/{{ harvester_id }}/fid/{{user.fid}}">{{ user.fid|default_if_none:"0" }}</a></td>
        <td><a href="/dm_user_detail/{{ harvester_id }}/fid/{{user.fid}}">{{ user.username|default_if_none:"" }}</a></td>
        <td><a href="/dm_user_detail/{{ harvester_id }}/fid/{{user.fid}}">{{ user.screenname|default_if_none:"" }}</a></td>
        <td>{{ user.gender|default_if_none:"" }}</td>
        <td>{{ user.description|default_if_none:"0" }}</td>
        <td>{{ user.language|default_if_none:"" }}</td>
        <td>{{ user.status|default_if_none:"" }}</td>
        <td>{{ user.type|default_if_none:"0" }}</td>
        <td>{{ user.url.original_url|default_if_none:""|urlize }}</td>
        <td>{{ user.views_total|default_if_none:"0" }}</td>
        <td>{{ user.videos_total|default_if_none:"0" }}</td>
    </tr>
    </tbody>
</table>
<h3>{{ video.title }} </h3>
<table id="video_table" class="pretty">
    <thead>
        <tr>
            <th>Created / Updated time</th>
            <th>Video ID</th>
            <th>title</th>
            <th>description</th>
            <th>language</th>
            <th>country</th>
            <th>duration</th>
            <th>allow comments</th>
            <th>rating</th>
            <th>ratings_total</th>
            <th>views total</th>
            <th>comments total</th>
            <th>bookmarks total</th>
        </tr>
    </thead>
    <tbody>
        <td>{{ video.created_time }}</td>
        <td>{{ video.fid }}</td>
        <td>{{ video.title }}</td>
        <td>{{ video.description }}</td>
        <td>{{ video.language }}</td>
        <td>{{ video.country }}</td>
        <td>{{ video.duration }}</td>
        <td>{{ video.allow_comments }}</td>
        <td>{{ video.rating }}</td>
        <td>{{ video.ratings_total }}</td>
        <td>{{ video.views_total }}</td>
        <td>{{ video.comments_total }}</td>
        <td>{{ video.bookmarks_total }}</td>
    </tbody>
</table>

<br>
<center>
<a  
	 href="{{ video_url }}"
	 style="display:block;width:520px;height:330px"  
	 id="player"> 
</a> 

<!-- this will install flowplayer inside previous A- tag. -->
<script>
	flowplayer("player", "/static/flowplayer-3.2.10.swf");
</script>
</center>

{% endblock %}
