{% extends "snh/snh_base.html" %}
{% block extrahead %}
<script type="text/javascript" charset="utf-8">
	$(document).ready(function() {
		var oTable1 = $('#post_table').dataTable(
            {
                "iDisplayLength": 25, 
                "sPaginationType": "full_numbers",
                "sDom": '<"clear">lfrtip',
                "bAutoWidth": false,
		        "bServerSide": true, 
		        "sAjaxSource": "{% url snh.views.get_fb_post_list user.username  %}",
                "fnRowCallback": function( nRow, aData, iDisplayIndex ) {

                    function _wordwrap($text){
                        final = "";
                        splitted = $text.match(/.{10}/g);
                        for (i in splitted){
                            final += splitted[i] + "&#8203;"
                        }
                        return final;
                    }

                    ($('td:eq(3)', nRow).html() == "None") ? message = aData[4] : message = aData[5]

                    $('td:eq(3)', nRow).html( '<a href="/fb_post_detail/{{ harvester_id }}/'+aData[1]+'">'+message+'</a>' );
                    $('td:eq(5)', nRow).html( '<a href="'+aData[7]+'">'+ _wordwrap(aData[7]) +'</a>' );
                },
                "aoColumnDefs": [ 
                    { 
                        "bSearchable": false, "aTargets": [ 0 ] 
                    }
                ],
		        "aoColumns": [ 
                                                //aData[n],td:eq(p) desc
			        { "bVisible":    true },    //0,0   Created time
			        { "bVisible":    false },   //1     fid
			        { "bVisible":    true },    //2,1   name
			        { "bVisible":    true },    //3,2   description
			        { "bVisible":    false },   //4     story
			        { "bVisible":    true },    //5,3   message
			        { "bVisible":    true },    //6,4   caption
			        { "bVisible":    true },    //7,5   link
			        { "bVisible":    true },    //8,6   type
			        { "bVisible":    true },    //9,7   likes
			        { "bVisible":    true },    //10,8  shares
			        { "bVisible":    true },    //11,9  comments
		        ]
            });

          $(window).bind('load', function () {
            oTable1.fnAdjustColumnSizing();
          } );
          $(window).bind('resize', function () {
            oTable1.fnAdjustColumnSizing();
          } );
	} );
</script>
{% endblock %}
{% block submenu %}
<table class="tableheader">
    <tr>
        <td {% if harvester_id == "0" %}class="submenu-selection"{% endif %}><a href="/fb/0">All harvesters</a></td>
        {% for h in all_harvesters %}
        <td  {% ifequal harvester_id h.pmk_id|slugify %}class="submenu-selection"{% endifequal %}><a href="/fb/{{ h.pmk_id }}">{{ h }}</a></td>
        {% endfor %}
    </tr>
</table>
{% endblock %}

{% block content %}
<h3>{{ user.name }} </h3>
<table id="user_table" class="pretty">
    <thead>
    <tr>
        <th>ID</th>
        <th>name</th>
        <th>username</th>
        <th>category</th>
        <th>likes</th>
        <th>about</th>
        <th>phone</th>
        <th>checkins</th>
        <th>picture</th>
        <th>website</th>
        <th>talking_about_count</th>
        <th>error_triggered</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>{{ user.fid|default_if_none:"0" }}</td>
        <td>{{ user.name|default_if_none:"" }}</td>
        <td>{{ user.username|default_if_none:"" }}</td>
        <td>{{ user.category|default_if_none:"" }}</td>
        <td>{{ user.likes|default_if_none:"0" }}</td>
        <td>{{ user.about|default_if_none:"" }}</td>
        <td>{{ user.phone|default_if_none:"" }}</td>
        <td>{{ user.checkins|default_if_none:"0" }}</td>
        <td>{{ user.picture|default_if_none:""|urlize }}</td>
        <td>{{ user.website|default_if_none:"0"|urlize }}</td>
        <td>{{ user.talking_about_count|default_if_none:"0" }}</td>
        <td>{{ user.error_triggered }}</td>
    </tr>
    <tr>
        <td colspan="12"><strong>Bio:</strong> {{ user.bio|default_if_none:""}}</td>
    </tr>
    </tbody>
</table>

<h3>{{ user.name }}'s wall</h3>
<table id="post_table" class="pretty">
    <thead>
        <tr>
            <th>Created time</th>
            <th>fid</th>
            <th>name</th>
            <th>description</th>
            <th>story</th>
            <th>message</th>
            <th>caption</th>
            <th>link</th>
            <th>type</th>
            <th>likes_count</th>
            <th>shares_count</th>
            <th>comments_count</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<h3>{{ user.name }} posts on other's wall</h3>
<table id="other_posts_table" class="pretty">
    <thead>
        <tr>
            <th>Created time</th>
            <th>from</th>
            <th>to</th>
            <th>story / message</th>
            <th>story tags / message tags</th>
            <th>link</th>
            <th>name</th>
            <th>caption</th>
            <th>description</th>
            <th>type</th>
            <th>likes count</th>
            <th>comments count</th>
            <th>created time</th>
            <th>updated time</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<h3>{{ user.name }} comments</h3>
<table id="comments_table" class="pretty">
    <thead>
        <tr>
            <th>Created time</th>
            <th>from</th>
            <th>Message</th>
            <th>Likes</th>
            <th>User likes</th>
            <th>Type</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

{% endblock %}
