{% extends "snh/snh_base.html" %}
{% block extrahead %}
<script type="text/javascript" charset="utf-8">
	$(document).ready(function() {
		var oTable1 = $('#comment_table').dataTable(
            {
                "iDisplayLength": 25, 
                "sPaginationType": "full_numbers",
                "sDom": '<"clear">lfrtip',
                "bAutoWidth": false,
		        "bServerSide": true, 
		        "sAjaxSource": "{% url snh.views.get_fb_post_list user.username  %}",
                "fnRowCallback": function( nRow, aData, iDisplayIndex ) {

                    function _wordwrap($text){
                        final = "";
                        splitted = $text.match(/.{10}/g);
                        for (i in splitted){
                            final += splitted[i] + "&#8203;"
                        }
                        return final;
                    }

                    ($('td:eq(4)', nRow).html() == "None") ? message = aData[5] : message = aData[6]

                    $('td:eq(2)', nRow).html( '<a href="/fb_post_detail/{{ harvester_id }}/'+aData[1]+'">'+aData[3]+'</a>' );
                    $('td:eq(6)', nRow).html( '<a href="'+aData[8]+'">'+ _wordwrap(aData[8]) +'</a>' );
                },
                "aoColumnDefs": [ 
                    { 
                        "bSearchable": false, "aTargets": [ 0 ] 
                    }
                ],
		        "aoColumns": [ 
                                                //aData[n],td:eq(p) desc
			        { "bVisible":    true },    //0,0   Created time
			        { "bVisible":    false },   //1     fid
			        { "bVisible":    true },    //2,1   ffrom
			        { "bVisible":    true },    //3,2   name
			        { "bVisible":    true },    //4,3   description
			        { "bVisible":    false },   //5     story
			        { "bVisible":    true },    //6,4   message
			        { "bVisible":    true },    //7,5   caption
			        { "bVisible":    true },    //8,6   link
			        { "bVisible":    true },    //9,7   type
			        { "bVisible":    true },    //10,8   likes
			        { "bVisible":    true },    //11,9  shares
			        { "bVisible":    true },    //12,10 comments
                    
		        ]
            });

          $(window).bind('load', function () {
            oTable1.fnAdjustColumnSizing();
          } );
          $(window).bind('resize', function () {
            oTable1.fnAdjustColumnSizing();
          } );
	} );
</script>
{% endblock %}
{% block submenu %}
<table class="tableheader">
    <tr>
        <td {% if harvester_id == "0" %}class="submenu-selection"{% endif %}><a href="/fb/0">All harvesters</a></td>
        {% for h in all_harvesters %}
        <td  {% ifequal harvester_id h.pmk_id|slugify %}class="submenu-selection"{% endifequal %}><a href="/fb/{{ h.pmk_id }}">{{ h }}</a></td>
        {% endfor %}
    </tr>
</table>
{% endblock %}

{% block content %}
<h1>Facebook: {{ user.name }} </h1>
<table id="user_table" class="pretty">
    <thead>
    <tr>
        <th>ID</th>
        <th>name</th>
        <th>username</th>
        <th>category</th>
        <th>likes</th>
        <th>about</th>
        <th>phone</th>
        <th>checkins</th>
        <th>picture</th>
        <th>website</th>
        <th>talking_about_count</th>
        <th>error_triggered</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>{{ user.fid|default_if_none:"0" }}</td>
        <td>{{ user.name|default_if_none:"" }}</td>
        <td>{{ user.username|default_if_none:"" }}</td>
        <td>{{ user.category|default_if_none:"" }}</td>
        <td>{{ user.likes|default_if_none:"0" }}</td>
        <td>{{ user.about|default_if_none:"" }}</td>
        <td>{{ user.phone|default_if_none:"" }}</td>
        <td>{{ user.checkins|default_if_none:"0" }}</td>
        <td>{{ user.picture|default_if_none:""|urlize }}</td>
        <td>{{ user.website|default_if_none:"0"|urlize }}</td>
        <td>{{ user.talking_about_count|default_if_none:"0" }}</td>
        <td>{{ user.error_triggered }}</td>
    </tr>
    <tr>
        <td colspan="12"><strong>Bio:</strong> {{ user.bio|default_if_none:""}}</td>
    </tr>
    </tbody>
</table>

<h1>Post detail</h1>
<table id="post_table" class="pretty">
    <thead>
        <tr>
            <th>Created time</th>
            <th>from</th>
            <th>story / message</th>
            <th>story_tags / message_tags</th>
            <th>link</th>
            <th>name</th>
            <th>caption</th>
            <th>description</th>
            <th>type</th>
            <th>likes count</th>
            <th>liked by</th>
            <th>shares count</th>
            <th>comments count</th>
            <th>created time</th>
            <th>updated time</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ post.created_time.ctime }}</td>
            <td><a href="/fb_user_detail/{{ harvester_id }}/fid/{{ post.ffrom.fid }}/">{{ post.ffrom.name|default_if_none:post.ffrom.username }} / ({{ post.ffrom.fid }})</a></td>
            <td>{{ post.story|default_if_none:""|safe }}{{ post.message|default_if_none:""|safe }} </td>
            <td>{{ post.story_tags|default_if_none:"" }}{{ post.message_tags|default_if_none:"" }} </td>
            <td>{{ post.link|urlize }}</td>
            <td>{{ post.name|default_if_none:"" }}</td>
            <td>{{ post.caption|default_if_none:""|urlize }}</td>
            <td>{{ post.description|default_if_none:""|urlize }}</td>
            <td>{{ post.ftype|default_if_none:"" }}</td>
            <td>{{ post.likes_count|default_if_none:"0" }}</td>
            <td>
            {% for u in likes_user %}
                <a href="/facebook_detail/{{ u.fid }}/">{{ u.name }} / ({{ u.fid }}),</a>
            {% endfor %} 
            </td>
            <td>{{ post.shares_count|default_if_none:"0" }}</td>
            <td>{{ post.comments_count|default_if_none:"0" }}</td>
            <td>{{ post.created_time.ctime }}</td>
            <td>{{ post.updated_time.ctime }}</td>
        </tr>
    <tbody>
</table>

<h1>Comments</h1>
<table id="comment_table" class="pretty">
    <thead>
        <tr>
            <th>Created time</th>
            <th>from</th>
            <th>Message</th>
            <th>Likes</th>
            <th>User likes</th>
            <th>Type</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>


{% endblock %}
