{% extends "snh/snh_base.html" %}
{% block scripts %}
<script type="text/javascript" charset="utf-8">
	$(document).ready(function() {
		$('#user_table').dataTable(
            {
                "iDisplayLength": 100, 
                "sPaginationType": "full_numbers",
                "sDom": 'T<"clear">lfrtip',
                "oTableTools": {
                            "sSwfPath" : "/static/swf/copy_cvs_xls_pdf.swf"
                }
            });
	} );
</script>
{% endblock %}

{% block content %}
<h1>Facebook harvest - List of users</h1>
<table id="user_table" class="pretty" width="100%">
    <thead>
    <tr>
        <th>ID</th>
        <th>name</th>
        <th>username</th>
        <th>bio</th>
        <th>category</th>
        <th>likes</th>
        <th>about</th>
        <th>phone</th>
        <th>checkins</th>
        <th>picture</th>
        <th>talking_about_count</th>
        <th>error_triggered</th>
    </tr>
    </thead>
    <tbody>
{% for fbuser in user_list %}
    <tr onclick="document.location.href='/facebook_detail/{{ fbuser.fid }}/'">
        <td>{{ fbuser.fid|default_if_none:"0" }}</td>
        <td>{{ fbuser.name|default_if_none:"" }}</td>
        <td>{{ fbuser.username|default_if_none:"" }}</td>
        <td>{{ fbuser.bio|default_if_none:""}}</td>
        <td>{{ fbuser.category|default_if_none:"" }}</td>
        <td>{{ fbuser.likes|default_if_none:"0" }}</td>
        <td>{{ fbuser.about|default_if_none:"" }}</td>
        <td>{{ fbuser.phone|default_if_none:"" }}</td>
        <td>{{ fbuser.checkins|default_if_none:"0" }}</td>
        <td>{{ fbuser.picture|default_if_none:"" }}</td>
        <td>{{ fbuser.talking_about_count|default_if_none:"0" }}</td>
        <td>{{ fbuser.error_triggered }}</td>
    </tr>
{% endfor %}
    </tbody>
</table>
{% endblock %}
