{% extends "admin/base.html" %}
{% load i18n %}

{% block title %}{{ title }} | {% trans 'Django site admin' %}{% endblock %}
{% block extrahead %}
	<style type="text/css" title="currentStyle">
		@import "/static/complete.css"; 
		@import "/static/snh_base.css"; 
		@import "/static/css/TableTools.css"; 
	</style>
	<script type="text/javascript" language="javascript" src="/static/jquery.js"></script>
	<script type="text/javascript" language="javascript" src="/static/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf-8" src="/static/js/TableTools.js"></script>
    <script type="text/javascript" charset="utf-8" src="/static/js/ZeroClipboard.js"></script>
    {% block scripts %}{% endblock %}
{% endblock %}

{% block branding %}
<h1 id="site-name">{% trans "Interface de consultation - Social Network Harvester" %}</h1>
{% endblock %}

{% block nav-global %}
<a href="/twitter">Twitter</a>
<a href="/facebook">Facebook</a>
<a href="/admin">admin</a>
<strong>{{ request.user.username }}</strong>
{% endblock %}
{% block footer %}
<hr>
<p>Social Network Harverster v 0.1</p>
{% endblock %}
