<html>
		<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	
		<style type="text/css" title="currentStyle">
			@import "/static/complete.css"; 
			@import "/static/css/TableTools.css"; 
		</style>
		<script type="text/javascript" language="javascript" src="/static/jquery.js"></script>
		<script type="text/javascript" language="javascript" src="/static/jquery.dataTables.js"></script>
        <script type="text/javascript" charset="utf-8" src="/static/js/TableTools.js"></script>
        <script type="text/javascript" charset="utf-8" src="/static/js/ZeroClipboard.js"></script>
		<script type="text/javascript" charset="utf-8">
			$(document).ready(function() {
				$('#user_table').dataTable(
                    {
                        "iDisplayLength": 100, 
                        "sDom": 'T<"clear">lfrtip',
                        "oTableTools": {
                                    "sSwfPath" : "/static/swf/copy_cvs_xls_pdf.swf"
                        }
                    });
			} );
		</script>
	</head>
<body>

<h1>Twitter harvest - List of users</h1>
<table id="user_table" class="pretty" width="100%">
    <thead>
    <tr>
        <th>Name</th>
        <th>Screen Name</th>
        <th>Description</th>
        <th>Followers count</th>
        <th>Friends count</th>
        <th>Statuses count</th>
        <th>Listed count</th>
    </tr>
    </thead>
    <tbody>
{% for user in user_list %}
    <tr onclick="document.location.href='/twitter_detail/{{ user.fid }}/'">
        <td>{{ user.name }}</td>
        <td>{{ user.screen_name }}</td>
        <td>{{ user.description }}</td>
        <td class="center">{{ user.followers_count|default_if_none:"0" }}</td>
        <td class="center">{{ user.friends_count|default_if_none:"0" }}</td>
        <td class="center">{{ user.statuses_count|default_if_none:"0" }}</td>
        <td class="center">{{ user.listed_count|default_if_none:"0" }}</td>
    </tr>
{% endfor %}
    </tbody>

</table>
	

</body>
</html>
