{% extends "snh/snh_base.html" %}
{% block scripts %}
<script type="text/javascript" charset="utf-8">
	$(document).ready(
        function() {
		            $('#user_table').dataTable({
                                    "iDisplayLength": 100,
                                });
		            $('#post_table').dataTable({
                                    "iDisplayLength": 100,
                                    "sPaginationType": "full_numbers",
                                    "sDom": '<"tools"T><"top">p<"clear">lfrtip',
                                    "oTableTools": {
                                                "sSwfPath" : "/static/swf/copy_cvs_xls_pdf.swf"
                                    }
                                });
	                } 
    );
</script>
{% endblock %}

{% block content %}
<h1>Twitter: {{ twuser.name }} </h1>

<table id="user_table" class="pretty" width="100%">
    <thead>
    <tr class="head">
    <th>Name</th>
    <th>Screen Name</th>
    <th>Description</th>
    <th>Followers count</th>
    <th>Friends count</th>
    <th>Statuses count</th>
    <th>Listed count</th>
    <th>URL</th>
    <th>Location</th>
    <th>Time zone</th>
    <th>UTC offset</th>
    <th>Protected</th>
    <th>Language</th>
    </tr>
    </thead>
    <tbody>
    <tr>
    <td>{{ twuser.name }}</td>
    <td>{{ twuser.screen_name }}</td>
    <td>{{ twuser.description }}</td>
    <td>{{ twuser.followers_count }}</td>
    <td>{{ twuser.friends_count }}</td>
    <td>{{ twuser.statuses_count }}</td>
    <td>{{ twuser.listed_count }}</td>
    <td>{{ twuser.url }}</td>
    <td>{{ twuser.location }}</td>
    <td>{{ twuser.time_zone }}</td>
    <td>{{ twuser.utc_offset }}</td>
    <td>{{ twuser.protected }}</td>
    <td>{{ twuser.lang }}</td>
    </tr>
    </tbody>


</table>
<h1>Twitter statuses for: {{ twuser.name }} </h1>
<h1>Total: {{ len }} </h1>
<table id="post_table" class="pretty" width="100%" border="0" cellspacing="2" cellpadding="0">
    <thead>
    <tr class="head">
    <th>Created at</th>
    <th>text</th>
    <th>Retweet count</th>
    <th>Retweeted</th>
    <th>source</th>
    <th>truncated</th>
    </tr>
    </thead>
    <tbody>
{% for status in statuses %}
    <tr class="line" >
    <td id="date">{{ status.created_at.ctime }}</td>
    <td >{{ status.text|urlize }}</td>
    <td class="center">{{ status.retweet_count }}</td>
    <td class="center">{{ status.retweeted }}</td>
    <td>{{ status.source|safe }}</td>
    <td>{{ status.truncated }}</td>
    </tr>
{% endfor %}
    <tbody>
</table>
{% endblock %}
